/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
@use './_colors.scss' as color;

.header {
  background-color: color.$white;
  margin: 0.75rem auto;
  padding: 0.5rem 0.75rem;
  border: 2px solid color.$medium-grey;
  border-radius: 10px;

  &__btns {
    width: fit-content;

    button {
      color: color.$black;
    }

    button:not(:last-child):hover {
      background-color: rgba(255, 153, 0, 0.2);
      color: color.$black;
    }

    button:last-child {
      background-color: color.$vivid-orange;
      border: 2px solid color.$medium-grey;

      &:hover {
        background-color: color.$dark-grey;
        color: color.$white;
      }
    }
  }
}
